<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span mat-button routerLink="/home">ng5 Material</span>

    <span class="spacer"></span>
    
    <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>
    <button mat-button routerLink="/sobre" routerLinkActive="active-link">Sobre</button>
    <button mat-button routerLink="/planos" routerLinkActive="active-link">Planos</button>
    <button mat-button routerLink="/contato" routerLinkActive="active-link">Contato</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="O que achou do exemplo?">
  </mat-form-field>

  <br>
  
  <button mat-raised-button (click)="showAnswer()">Confirmar</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>


<mat-card *ngIf="answerDisplay">
  <h1>{{ answerDisplay }}, com certeza!</h1>
</mat-card>

<router-outlet></router-outlet>
